{% extends "base.html" %}

 {% load static %}




{% block content %}

<style type="text/css">
	#height{
    height:160px;
    min-height:160px;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}</style>
 

<div class="container" >

<div class="row">

<!-- Start of First Column -->
<div class="col-md-7"> 

<div class="jumbotron" style="background-color:white"> 
<!--Title and Table of Contents .js --> 	
<p>{{ book.title }}</p>


<script type="text/javascript">
urlMap = {
    {% for chapter in chapters %}
    {{ chapter.id }} : '{% url 'pageview' chapter.book.id chapter.id %}'
        {% if not forloop.last %},{% endif %}
    {% endfor %}
}
    $(function() {
         $("#chapter_select").change(function() {
            window.location.href = urlMap[$(this).val()];
        });
    })
</script>


<form name="select_chapter" action=" " method="get" enctype="multipart/form-data">{% csrf_token %}
<select class="selectBox" id="chapter_select" style="width:378px; min-height: 30px" name="part">
	<option value="Table of Contents">Table of Contents </option>
	{% for chapter in chapters %}
		
	<option value="{{chapter.id}}"> {{chapter.chaptertitle}}</option>

    {% endfor %}
	</select> </form>
 
  <style type='text/css'>
        .vr_pagebreak {
                page-break-before: always;
                box-decoration-break: always;
        }
        </style>
<!--End of .js -->
<!-- Content  -->

<p style="text-align:justify">{{book.description}}</p>

<p><a class="btn btn-lg btn-primary" 
{% for chapter in chapters %}
<a href="{% url 'pageview' chapter.book.id chapter.id %}"
{% endfor %}	
role="button">Continue Reading!</a></p>



</div>
</div><!---col-md-7 -->

<!-- Start of Second Column -->

<div class="col-md-5"> 
<div class="jumbotron" style="background-color:#F2F2F2; padding: 5px">
	<h3 style="text-align:center">Featured Titles </h3>
</div>
{% for book in books %}
<div class="jumbotron" style="background-color:#F2F2F2; padding: 5px">
<a href=/book/get/{{book.id}}>
<img src="/static/images/{{book.thumbnail}}" class="thumbnail">
<img data-src="holder.js/100%x180"></a>
</div>
{% endfor %}


</div> <!--col -->

</div><!-- Row -->
</div><!-- Container -->


{% endblock %}
<!-- Test -->



<!--Like and Modal Buttons -->
<div class="col-md-9 col-md-2">
<ul >
<a href="{% url 'likearticle' chapter.book.id chapter.id %}"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
</ul>


<ul>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
 <span class="glyphicon glyphicon-comment"></span> Comment
</button></ul>

<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comments</h4>
      </div>
      <div class="modal-body">
      
      <form action="{% url 'addcomment' chapter.book.id chapter.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    
	{{form.as_ul}}
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" name="submit" value="Comment">
      </form>
      </div>
    </div>
   </div>
   

 <!---End of Modal -->


