{% extends "base.html" %}

 {% load static %}

{% block customcss %}
    <!-- Custom styles for this template -->
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

   <!-- Optional theme -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">


 {% endblock %}
 
 {% block container %}
 {% endblock %}
 
{% block content %}

<style type="text/css">
	#height{
    height:160px;
    min-height:160px;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}</style>
 

<div class="container" >

<div class="row">

<!-- Start of First Column -->
<div class="col-md-7"> 
<div class="jumbotron" style="background-color:white">  	

<!-- Start of Table of Contents JS  -->
<p>{{ chapter.book.title }}</p>


<script type="text/javascript">
urlMap = {
    {% for chapter in chapters %}
    {{ chapter.id }} : '{% url 'pageview' chapter.book.id chapter.id %}'
        {% if not forloop.last %},{% endif %}
    {% endfor %}
}
    $(function() {
         $("#chapter_select").change(function() {
            window.location.href = urlMap[$(this).val()];
        });
    })
</script>


<form name="select_chapter" action=" " method="get" enctype="multipart/form-data">{% csrf_token %}
<select class="selectBox" id="chapter_select" style="width:378px; min-height: 30px" name="part">
	<option value="Table of Contents">Table of Contents </option>
	{% for chapter in chapters %}
		
	<option value="{{chapter.id}}"> {{chapter.chaptertitle}}</option>

    {% endfor %}
	</select> </form>
 
  <style type='text/css'>
        .vr_pagebreak {
                page-break-before: always;
                box-decoration-break: always;
        }
        </style>
<!-- End of Table of Contents JS  -->
<!-- Content  -->
<p>Chapter {{ chapter.chaptertitle }}</p></h1>
<p></p>
<div style="height:100%; font-size:14px; text-align:justify"> {{ paginator.content|linebreaks}}</div>


<!--Pagination -->
<p>Page Number</p>
<ul class="pagination pagination-sm">
{% if current_page > 1 %}
<li class="disabled">
<a href="{% url 'pageview' chapter.book.id chapter.id %}?part={{ previous_page }}"><span> &laquo;</span></a>
</li>
{% endif %}
	
    {% for number_pages in paginator.number_pages %} 
    <li class="disabled">   
    <a href="{% url 'pageview' chapter.book.id  chapter.id %}?part={{ number_pages }}"><span> {{ number_pages }}</span></li></a>    
   </li>
    {% endfor %}

{% if  paginator.pages != current_page %}
 <li class="disabled">
<a href="{% url 'pageview' chapter.book.id chapter.id %}?part={{ next_page }}"><span> &raquo;</span></a>
</li>
{% endif %}
</ul> 
</div><!-- jumbotron -->
</div><!---col-md-7 -->

<!-- Start of Second Column -->

<div class="col-md-5"> 
	


<!-- Book Jacket -->

<img src="/static/images/{{chapter.book.thumbnail}}" class="thumbnail">
      <img data-src="holder.js/100%x180" style="padding: 5px"">

<!-- Share, Like, and Comment -->
<div class="jumbotron" style="background-color:#F2F2F2; padding: 5px">
<div class="btn-group inline">
<button class="btn btn-default">
<a href="{% url 'likearticle' chapter.book.id chapter.id %}">Like  <span class="glyphicon glyphicon-thumbs-up"></span></a>
</button>

<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
 <span class="glyphicon glyphicon-comment"></span> Comment
</button>

<button class="btn btn-default" data-toggle="modal">
 <span class="glyphicon glyphicon-share"></span> Share
</button></ul>
</div>

</div>


<!-- Likes and Comments -->

<div class="jumbotron" style="background-color:white">
<p >{{ chapter.book.likes }} people liked this book</p> 			
	Comments
{% for c in chapter.book.comment_set.all %}
<div class="form-control">
{{c.first_name}} {{c.second_name}}: {{c.comment}}
</span></div>
{% endfor %}</div> 

</div><!--col -->





</div><!-- Row -->
</div><!-- Container -->



<!-- Test -->

<!-- Comment Modal -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add your comment!</h4>
      </div>
      <div class="modal-body">
      
      <form action="{% url 'addcomment' chapter.book.id chapter.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
     
	{{form.as_ul}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" name="submit" value="Comment">
      </form>
      </div>
    </div>
   </div>

</div>   
</div>
 <!---End of Modal -->








{% endblock %}

