{% extends "base.html" %}

 {% load static %}

{% block customcss %}
    <!-- Custom styles for this template -->
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

   <!-- Optional theme -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">


 {% endblock %}
 
 {% block container %}
 {% endblock %}
 
{% block content %}
<div class="container">
<div class="jumbotron">

<h2>We make publishing accessible</h2>

<p>Publishing a book through traditional channels is tougher than ever.  The process can take months - or even years - of effort but only 3 out of every 10,000 unsolicited manuscripts are published each year.</p>

<p>We exist to solve that problem.</p>
<p> We are committed to building a fun experience for people who love books and building the online publishing experience of the future.</p>

<p><a href="/sign_up/"> Sign up </a> and help us build online community of writers, readers, and editors that are dedicated to making the publishing processes faster and easier.  </p>


</div>
</div>


{% endblock %}
<!-- Test -->