{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "images/python-logo.jpg" %}">

    <title>{% block title %}Fixed Top Navbar Example for Bootstrap{% endblock %}</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

   <!-- Optional theme -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

   <!-- Latest compiled and minified JavaScript -->
  
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
   <script src="{% static "assets/js/jquery-2.0.3.min.js" %}"></script>
   <script src="{% static "assets/js/ajax.js" %}"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      
      
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/book/">Proseline</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/book/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Literature</a></li>
                <li><a href="#">Romance</a></li>
                <li><a href="#">Choose your own advenure</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Writers</li>
                <li><a href="#">Readers</a></li>
                <li><a href="#">Editors</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign_in/">Login</a></li>
  
            <li class="active"><a href="/sign_up/">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container" id="basecontainer">
{% block basecontainer %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      	
      	 
        <img src = "{% static "images/booksbanner.jpg" %}"/>

        {% block jumbo %}  
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>

        {% endblock %} <!-- Endblock Jumbo -->
          <a class="btn btn-lg btn-primary" href="../../components/#navbar">View navbar docs &raquo;</a>
        </p>
      </div><!-- Jumbo -->
{% endblock %} <!-- Basecontainer -->

<div id="page">

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/book/">Books</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div> <!-- /sidebar -->
    </div> <!-- /page -->
 
</div> <!-- container -->
    	

  <div id="content">
  {% block content %} {% endblock %}
</div>
  
 </body>

</html>