{% extends "base.html" %}
{% load static %}

{% block customcss %}
    <!-- Custom styles for this template -->
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

   <!-- Optional theme -->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">


  <link rel="stylesheet" type="text/css" href="{% static "assets/css/signin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/assets/css/signin.css" %}">
     <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
       <link rel="stylesheet" type="text/css" href="{% static "/css/signin.css" %}">
 
 {% endblock %}
 
 <!-- Sign In Container -->
{% block container %}
{% endblock %}
{% block content %}

 <html>

<title>Register</title>
<body>
 
 
<div class="container">


<form class="form-signin" role="form" action="/sign_up/" method="post">{% csrf_token %}

{{form}}
 
 <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

 
</form>
</div>
</body>

</html>

{% endblock %}

